/* Common */

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #C3D2FF;
}



/* header */
header {
  width: 100%;
}

.header-container {
  width: 100%;
  margin-right: 0;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  color: #cfdafc;
  position: relative;
}

.find-more {
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: calc((100% - 91px)/2);
  text-decoration: none;
  color: #F7F6DA;
}


.name {
  width: auto;
  float: right;
  margin-right: 1.5em;
  right: 0.5em;
  text-align: right;
  display: inline-block;
  font-size: 1em;
}

.name > h1 {
  color: #cfdafc;
}

.name > p {
  margin-bottom: 0;
}

#nav {
  display: flex;
  justify-content: space-around;
  padding: 0.2em;
  background-color: #e6dcc3;
}

.nav-item {
  color: #1d1b40;
  padding: 5px;
  width: 100px;
  display: inline-block;
  text-align: center;
  margin: auto;
}


/* Body */
.content {
  padding: 0.7em;
  background-color: #1D1B40;
  color: #cfdafc;
}

.coding {
  width: 250px;
  display: block;
  margin: 1em auto;
}

.content > h2 {
  color: #C3D2FF;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

#education .degree {
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

.year {
  font-weight: bold;
}

#detail {
  display: none;
}

/* #econ:hover #detail {
  display: block;
} */

#econ:hover #detail, detail.econ-hover {
  display: block;
}

.featured-works {
  /* margin: auto; */
  background-color: #1d1b40;
}

.works {
  margin: 10px auto;
}

.works-img {
  display: block;
  margin: 10px auto;
  width: 250px;
  box-shadow: 9px 2px 23px 1px rgba(0,0,0,0.56);
}

.see-project {
  color: #e6dcc3;
  text-decoration: underline;
}

#contacts-large {
  display: none;
}

#content hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #e6dcc3;
}

main section {
  border-bottom: 2px double #f7f6da;
  margin: 15px auto;
}

#featured-works img {
  width: 200px;
  max-height: 200px;
  box-shadow: 3px 3px 5px 0px rgba(218,220,232,0.69);
  display: block;
  margin: 5px auto;
}

#featured-works p {
  text-align: justify;
}

/* Footer */
.contacts {
  padding: 10px;
  display: flex;
}

.link-icon {
  font-size: 1.5em;
  padding: 15px;
  margin: 0 auto;
  color: #413a41;
}

.show-contact {
  display: none;
}

.link-icon:hover .show-contact {
  display: block;
}

@media screen and (max-width: 400px) {
  h1 {
    margin-bottom: 0.5em;
  }

  .name p {
    font-size: 0.9em;
  }

  #content {
    font-size: 0.9em;
  }

  .nav-item {
    width: 80px;
  }

}



@media screen and (max-width: 599px) {

  h1 {
    margin-bottom: 1em;
    margin-top: 10px;
  }

  .name p {
    font-size: 1em;
  }

  #content {
    font-size: 0.9em;
    padding: 2em;
  }

  .name {
    margin: 1.5em;
  }

  .header-container {
    padding: 2em;
  }
}

@media screen and (min-width: 600px) {

  #content {
    padding: 3em;
  }

  .name {
    margin: 1.5em;
  }

  .name p {
    font-size: 1em;
    margin-top: 1em;
  }

  .header-container {
    padding: 20px;
  }

}

@media screen and (min-width: 770px) {
  #featured-works hr {
    display: none;
  }

  #featured-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #featured-works h2 {
    width: 100%;
  }

  #featured-works .works-container {
    width: 300px;
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 1px 5px 1px rgba(218,220,232,0.69);
  }

}

@media screen and (min-width: 940px) {
  .content-item {
    width: 1000px;
  }

  .work-container {
    width: 300px;
    padding: 20px;
  }
}

@media only screen {
  #detail {
    display: block;
  }

  .show-contact {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  #contacts {
    display: flex;
    flex-wrap: wrap;
  }

  #contacts a {
    width: 100%;
  }
}



a {
  transition: 0.2s;
}

address a:hover {
  text-shadow: 0px 0px 23px yellow;
}

#nav a:hover {
  text-shadow: 0px 0px 23px #c3d2ff;
}

.header-container a:hover,
#featured-works a:hover {
  text-shadow: 0px 0px 23px #c3d2ff;
  color: white;
}
